// app/layout.tsx
import './global.css' // ✅ HARUS SAMA (tanpa s)

export const metadata = {
  title: 'ArrowGachas',
  description: 'SpinWheel & Gacha',
}

export default function RootLayout({
  children,
}: {
  children: React.ReactNode
}) {
  return (
    <html lang="en">
      <body>{children}</body>
    </html>
  )
}
